@font-face {
  font-family: 'Montserrat';
  src: url(assets/fonts/Montserrat-Regular.woff2);
}

:root {
  --main-bg-color: white;
  --text-color: black;
  --alert-text-color: rgb(104, 104, 104);
  --input-bg-color: rgb(221, 221, 221);
  --shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.darkmode {
  --main-bg-color: rgb(49, 49, 49);
  --text-color: white;
  --alert-text-color: rgb(104, 104, 104);
  --input-bg-color: rgb(211, 211, 211);
  --shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
}

body {
  margin: 0 auto;
  max-width: 700px;
  background-color: var(--main-bg-color);
  height: 1000px;
  font-family: 'Montserrat', Arial;
}

.container {
  padding: 0px 10px;
}

p {
  color: var(--text-color);
  margin: 0;
}

/* ----------------HEADER------------------- */

.header {
  font-size: 25px;
  font-weight: 600;
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: center;
}

/* -----------TODO-INPUT-ROW------------------- */

.todo-list-input-row {
  display: grid;
  grid-template-columns: 100px 1fr 140px 80px;
  align-items: center;
  margin: 0 0 10px 0;
  column-gap: 8px;
}

.date-input-wrapper {
  display: flex;
  justify-content: center;
}

.date-input-wrapper,
.name-input-wrapper {
  position: relative;
}

.name-input,
.date-input {
  padding: 6px;
  border: none;
  border-radius: 5px;
  background-color: var(--input-bg-color);
  box-shadow: var(--shadow);
  font-family: 'Montserrat', Arial;
}

.name-input:focus,
.date-input:focus {
  outline: 2px solid rgb(0, 133, 0);
}

.name-input {
  width: 95%;
}

.date-input {
  width: 85%;
}

/* ------------INPUT-POP-UP-MESSAGE----------------- */

.pop-up-message {
  position: absolute;
  bottom: 40px;
  left: 5px;
  
  padding: 5px 12px 5px 5px;
  border: 1px solid rgb(214, 25, 0);
  border-radius: 8px;

  background-color: var(--input-bg-color);
  box-shadow: var(--shadow);
  white-space: nowrap;
  font-size: 13px;
}

.pop-up-message p {
  position: relative;
  padding-left: 20px;
  color: var(--alert-text-color);
}

.pop-up-message p::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -3px;
  transform: translate(0, -50%);

  width: 24px;
  height: 24px;

  background: url(/assets/icons/exclamation_mark.svg) no-repeat;
  background-size: contain;
}

/* -----------PRIORITY-CHOOSE-SECTION------------------- */

#priority-select:invalid {
  background-color: pink;
}

#priority-select:valid {
  background-color: lightblue;
}

/* ------------TODO-LIST-ROWS----------------- */

.todo-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.todo-list-row {
  display: grid;
  grid-template-columns: 100px 1fr 140px 80px;
  column-gap: 8px;
  align-items: center;
}

.due-date-container {
  display: flex;
  justify-content: center;
}

.crossed-out p {
  color:rgb(184, 21, 0);
  text-decoration: line-through;
}

/* ------------------ADD-DELETE-BUTTONS--------------------- */

.add-btn,
.del-btn {
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 100%;
  box-shadow: var(--shadow);
  font-family: 'Montserrat', Arial;
}

.add-btn {
  background-color: rgb(0, 133, 0);
  transition: background-color 0.4s;
}

.add-btn:hover {
  background-color: rgb(1, 172, 1);
}

.add-btn:active {
  transition: background-color 0.1s;
  background-color: rgb(10, 145, 0);
}

.del-btn {
  background-color: rgb(255, 136, 0);
  transition: background-color 0.4s;
}

.del-btn:hover {
  background-color: rgb(236, 28, 0);
}

.del-btn:active {
  transition: background-color 0.1s;
  background-color: rgb(184, 21, 0);
}

/* ------------------DARKMODE--------------------- */

.darkmode-btn-container {
  position: absolute;
  top: 25px;
  right: 25px;
}

.darkmode-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0px;
  border: none;
  border-radius: 50%;
  
  height: 40px;
  width: 40px;

  box-shadow: var(--shadow);
  background-color: rgb(221, 221, 221);
  cursor: pointer;
}

.darkmode-btn img {
  display: none;
}

.darkmode-btn img.active {
  display: block;
}

@media (max-width: 768px) {
  .darkmode-btn-container {
    top: 17px;
    right: 17px;
  }

  .darkmode-btn {
    height: 30px;
    width: 30px;
  }

  .darkmode-btn img {
    width: 18px;
  }
}

