@font-face {
  font-family: 'Montserrat';
  src: url(assets/fonts/Montserrat-Regular.woff2);
}

:root {
  --main-bg-color: white;
  --text-color: black;
  --input-bg-color: rgb(221, 221, 221);
  --shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.darkmode {
  --main-bg-color: rgb(49, 49, 49);
  --text-color: white;
  --input-bg-color: rgb(211, 211, 211);
  --shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
}

body {
  margin: 0 auto;
  max-width: 600px;
  background-color: var(--main-bg-color);
  height: 1000px;
  font-family: 'Montserrat', Arial;
}

.container {
  padding: 0px 10px;
}

p {
  color: var(--text-color);
  margin: 0;
}

/* ----------------HEADER------------------- */

.header {
  font-size: 25px;
  font-weight: 600;
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: center;
}

/* -----------TODO-INPUT-ROW------------------- */

.todo-list-input-row {
  display: grid;
  grid-template-columns: 1fr 140px 80px;
  align-items: center;
  margin: 0 0 10px 0;
  column-gap: 8px;
}

.date-input-wrapper {
  display: flex;
  justify-content: center;
}

.name-input,
.date-input {
  padding: 6px;
  border: none;
  border-radius: 5px;
  background-color: var(--input-bg-color);
  box-shadow: var(--shadow);
  font-family: 'Montserrat', Arial;
}

.name-input {
  width: 95%;
}

.date-input {
  width: 85%;
}

/* ------------TODO-LIST-ROWS----------------- */

.todo-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.todo-list-row {
  display: grid;
  grid-template-columns: 1fr 140px 80px;
  column-gap: 8px;
  align-items: center;
}

.due-date-container {
  display: flex;
  justify-content: center;
}

/* ------------------ADD-DELETE-BUTTONS--------------------- */

.add-btn,
.del-btn {
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 100%;
  box-shadow: var(--shadow);
  font-family: 'Montserrat', Arial;
}

.add-btn {
  background-color: rgb(0, 133, 0);
  transition: background-color 0.4s;
}

.add-btn:hover {
  background-color: rgb(1, 172, 1);
}

.add-btn:active {
  transition: background-color 0.1s;
  background-color: rgb(10, 145, 0);
}

.del-btn {
  background-color: rgb(255, 136, 0);
  transition: background-color 0.4s;
}

.del-btn:hover {
  background-color: rgb(236, 28, 0);
}

.del-btn:active {
  transition: background-color 0.1s;
  background-color: rgb(184, 21, 0);
}

/* ------------------DARKMODE--------------------- */

.darkmode-btn-container {
  position: absolute;
  top: 25px;
  right: 25px;
}

.darkmode-btn {
  height: 40px;
  width: 40px;

  padding: 0px;
  border: none;
  border-radius: 50%;

  box-shadow: 0px 0px 10px rgba(122, 122, 122, 0.8);
  background-color: rgb(175, 175, 175);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .darkmode-btn img {
  height: 28px;
  width: 28px;
} */


